@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "shrikhand";
  src: url("../fonts/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}
.shrikhand {
  font-family: "shrikhand", arial, serif;
}

* {
  font-family: "roboto", arial, sans-serif;
}

/*Couleurs*/
/*Ombres*/
h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 0px;
}

nav {
  background-color: whitesmoke;
  text-align: center;
  padding-bottom: 60px;
}
nav h3 {
  background-color: #e6e6e6;
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: #3c3c3c;
}
nav h3 .fa-map-marker-alt {
  margin: 0px;
  padding: 0px;
  margin-right: 10px;
  color: #3c3c3c;
}
nav p {
  padding-bottom: 25px;
  color: #3c3c3c;
  max-width: 96%;
}
nav a {
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 15px;
  text-decoration: none;
  color: white;
  border-radius: 50px;
}

#fonctionnement {
  padding: 5%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 90%;
}
#fonctionnement h2 {
  margin-bottom: 5px;
}

#fonctionnement div {
  background: whitesmoke;
  padding: 25px;
  font-weight: bold;
  position: relative;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#fonctionnement div span {
  position: absolute;
  top: 25px;
  left: -10px;
  background: #9356DC;
  border-radius: 50%;
  height: 19px;
  width: 25px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  color: white;
  font-weight: normal;
}
#fonctionnement div i {
  color: #646464;
  margin-left: 0px;
  margin-right: 15px;
  width: 10px;
}

#restaurants {
  background: linear-gradient(whitesmoke, white);
  padding-top: 30px;
  margin-top: 60px;
  font-size: large;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
#restaurants h2 {
  margin-left: 5%;
}

#restaurants div {
  background: white;
  width: 90%;
  height: 280px;
  border-radius: 25px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: 5%;
}
#restaurants div a {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  max-width: 100%;
  height: 60%;
  max-height: 60%;
  display: flex;
  flex-direction: column;
}
#restaurants div a img {
  object-fit: cover;
  max-height: 200px;
  max-width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
#restaurants div h3 {
  position: absolute;
  bottom: 25px;
  left: 10px;
}
#restaurants div .ville {
  position: absolute;
  bottom: 5px;
  left: 10px;
  color: #3c3c3c;
}
#restaurants div i {
  position: absolute;
  bottom: 40px;
  right: 25px;
  font-size: x-large;
  font-weight: lighter;
  color: #3c3c3c;
}
#restaurants div .nouveau {
  background: #9df7cd;
  color: #119e8b;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 5px;
}

footer {
  background: #3c3c3c;
  color: white;
  margin: 60px 0px 0px 0px;
  padding: 30px 0px 25px 0px;
  width: 100%;
}
footer h3 {
  padding: 0px 0px 0px 20px;
  margin: 0px;
  font-weight: normal;
}
footer ul {
  list-style: none;
  padding-left: 0px;
}
footer ul li {
  margin: 10px 0px 0px 20px;
}
footer ul li i {
  margin-right: 20px;
  width: 10px;
}

html {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

body {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/*# sourceMappingURL=style-home.css.map */
