@import 'base/fonts';
@import 'base/colors-shadows';

@import 'layout/header';
@import 'layout/footer';

@import 'pages/home/nav';
@import 'pages/home/fonctionnement';
@import 'pages/home/restaurants';

@import 'pages/menu/photo-menu';
@import 'pages/menu/corps-menu';
@import 'pages/menu/btn-menu';

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}