header {
    position: relative;

    img {
        width: 60%;
        margin-left: 20%;
        padding-top: 30px;
        padding-bottom: 15px;

    }

    .fa-arrow-left {
        position: absolute;
        top: 30px; left: 20px;
        font-weight: bold;
        font-size: x-large;
        color: $darkgrey-text;
    }
}