.menu_btn {
    display: flex;
    width: 100%;
    
    .bouton_commander {    
        background: linear-gradient($secondaire, $primaire);
        width: 50%;
        margin-left: 25%;
        margin-top: 50px;
        border-radius: 25px;
        text-align: center;
        color: white;
        text-decoration: none;
        
        &:hover {
            opacity: 0.9;
            box-shadow: $ombre_darker;
        }
    }


}

@media screen and (min-width: 768px){

.menu_btn{
    .bouton_commander {
    width: 30%;
    margin-left: 35%;
    margin-top: 50px;
    border-radius: 40px;
    font-size: x-large;
    }
}
}

@media screen and (min-width: 992px){

    .menu_btn{
        .bouton_commander {
        width: 20%;
        margin-left: 40%;
        margin-top: 50px;
        padding: 10px;
        border-radius: 50px;
        font-size: x-large;
        }
    }
    }