.titre_menu {
    margin: -40px 0px 0px 0px;
    padding: 30px 0px 15px 25px;
    position: relative;
    background: $fond-clair;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    width: auto;


    i {
        color: $darkgrey-text;
        position: absolute;
        bottom: 22px; right: 30px;
    }
}
.fond-menu {
    background:$fond-clair;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 60px;
    width: 100%;

    .categorie-menu {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 94%;
        margin-left: 3%;
        margin-bottom: 20px;

        h2 {
            font-size: large;
            color: $darkgrey-text;
            position: relative;
        }
        span {
            width: 10%;
            height: 3px;
            background: $tertiaire;
            position: absolute;
            bottom: -7px; left: 0px;

        }
    }
}

.plat {
    position: relative;
    border-radius: 15px;
    height: 60px;
    box-shadow: $ombre;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 100%;

    .nom-plat {
        padding: 5px 0px 0px 10px;
        margin: 0px 0px 0px 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 81%;
    }

    .info-plat {
        padding: 5px 0px 0px 10px;
        margin: 0px;
        color: $darkgrey-text;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 81%;
    }

    .prix-plat {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        align-self: flex-end;
        width: 60px;
        height: 60px;
        margin: 0px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;

        h4 {
            margin: 0px 0px 10px 0px;
        }
    }

}

@media screen and (min-width: 768px){

.titre_menu{
    text-align: center;
    font-size: xx-large;

    i{
        bottom: 22px; right: 100px;
        font-size:x-large;
    }
}
.fond-menu{
.categorie-menu {

    h2{
        text-align: center;
    }

    span{
        width: 10%;
        height: 5px;
        background: $tertiaire;
        position: absolute;
        bottom: -7px; left: 45%;
    }
}
}
.plat{
    max-width: 70%;
    margin-left: 15%;
    height: 90px;
}
}

@media screen and (min-width: 992px){

.titre_menu{
    font-size: xxx-large;
    i{
        font-size: xxx-large;
    }
}

.fond-menu{
    .categorie-menu{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}
.categorie-menu{
    h2{
        text-align: left;
        width: 90%;
        font-size: xx-large;
    }
    span {
        position: absolute;
        bottom: -7px; left: 0px;
    }
}

.plat{
    margin: 0px;
    max-width: 50%;
    min-width: 30%;
}
}