/*Couleurs*/

$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$fond-clair: rgb(245, 245, 245);
$fond-medium: rgb(230, 230, 230);
$darkgrey-text: rgb(60, 60, 60);
$mediumgrey-text: rgb(100, 100, 100);
$fond-violet: #eee0ff;


/*Ombres*/

$ombre: rgba(0, 0, 0, 0.24) 0px 3px 8px;