
$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$fond-clair: rgb(245, 245, 245);
$fond-medium: rgb(230, 230, 230);
$darkgrey-text: rgb(60, 60, 60);
$mediumgrey-text: rgb(100, 100, 100);
$fond-violet: #eee0ff;
$fond-nouveau: rgb(157, 247, 205);
$texte-nouveau: rgb(17, 158, 139);



$ombre: rgba(0, 0, 0, 0.20) 0px 3px 8px;
$ombre_darker: rgba(0, 0, 0, 0.40) 0px 6px 16px;