@font-face {
    font-family: 'roboto' ;
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'shrikhand';
    src: url('../fonts/Shrikhand/Shrikhand-Regular.ttf') format('truetype')
}


.shrikhand {
    font-family: 'shrikhand', arial, serif;
}

* {
    font-family: 'roboto', arial, sans-serif;
}
